body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul,li,a,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

.padding-sides{
    padding: 0 15%;
}
    /* Header section */
.container-header{
    background-color: #1F2037;
    height: 550px ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 10px;
}

.header h2{
    color: #f9FaF8;
    font-size: 24px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.header-content{
    padding: 100px 0;
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    gap: 10%;
}

.content-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content-text p{
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(60%);
}

.content-image {
    height: 250px;
    width: 100%;
    background-color: #ffffff2c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button{
    border: 0;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 32px;
    margin-top: 12px;
}

.signup-button:hover{
    cursor: pointer;
}

    /* Header section END */

    /* Information section */

.container-information{
    background-color: #fff;
    height: 500px;
    text-align: center;
    
}

.title-info {
    margin: 42px 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2037;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    text-align: center;
}

.content-container{
    max-width: 180px;
}

.information-image{
    border: 5px solid #3882F6;
    border-radius: 16px;
    width: 180px;
    height: 180px;
}

.information-text{
    padding-top: 8px;
    font-size: 16px;
    color: #1F2037;
}

    /* Informaton section END */

    /* Quote section */

.container-quote{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2037;
}

.quote-author{
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.quote-author, .quote-text{
    padding: 0 10%;
}

    /* Quote section END */

    /* SignUp section */

.container-signup{
    background-color: #fff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    background-color: #3882F6;
    border-radius: 12px;
    flex:1 1 100%;
    height: 200px;
}

.signup-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #E5E7EB;
}

.signup-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* SignUp section END */

    /* Footer section */
.footer{
    background-color: #1F2037;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9FaF8;
}

    /* Footer section END */