body{
    margin: 0;

}

.header{
    background-color: aqua;
}

.container-information{
    background-color: blanchedalmond;
}

.container-quote{
    background-color: hotpink;
}

.container-signup{
    background-color: aquamarine;
}

.footer{
    background-color: aqua;
}